// Text colors

//Primary
@include text-color-variant(".text-primary", $primary-color);
@include text-color-variant(".text-primary-900", $primary-color-900);
@include text-color-variant(".text-primary-800", $primary-color-800);
@include text-color-variant(".text-primary-700", $primary-color-700);
@include text-color-variant(".text-primary-600", $primary-color-600);
@include text-color-variant(".text-primary-500", $primary-color-500);
@include text-color-variant(".text-primary-400", $primary-color-400);
@include text-color-variant(".text-primary-300", $primary-color-300);
@include text-color-variant(".text-primary-200", $primary-color-200);
@include text-color-variant(".text-primary-100", $primary-color-100);

@include text-color-variant(".text-secondary", $secondary-color);
@include text-color-variant(".text-secondary-900", $secondary-color-900);
@include text-color-variant(".text-secondary-800", $secondary-color-800);
@include text-color-variant(".text-secondary-700", $secondary-color-700);
@include text-color-variant(".text-secondary-600", $secondary-color-600);
@include text-color-variant(".text-secondary-500", $secondary-color-500);
@include text-color-variant(".text-secondary-400", $secondary-color-400);
@include text-color-variant(".text-secondary-300", $secondary-color-300);
@include text-color-variant(".text-secondary-200", $secondary-color-200);
@include text-color-variant(".text-secondary-100", $secondary-color-100);

@include text-color-variant(".text-gray", $gray-color);
@include text-color-variant(".text-gray-900", $gray-color-900);
@include text-color-variant(".text-gray-800", $gray-color-800);
@include text-color-variant(".text-gray-700", $gray-color-700);
@include text-color-variant(".text-gray-600", $gray-color-600);
@include text-color-variant(".text-gray-500", $gray-color-500);
@include text-color-variant(".text-gray-400", $gray-color-400);
@include text-color-variant(".text-gray-300", $gray-color-300);
@include text-color-variant(".text-gray-200", $gray-color-200);
@include text-color-variant(".text-gray-100", $gray-color-100);

@include text-color-variant(".text-light", $light-color);

@include text-color-variant(".text-dark", $body-font-color);

@include text-color-variant(".text-success", $success-color);

@include text-color-variant(".text-warning", $warning-color);

@include text-color-variant(".text-error", $error-color);

// Background colors
@include bg-color-variant(".bg-primary", $primary-color);
@include bg-color-variant(".bg-primary-900", $primary-color-900);
@include bg-color-variant(".bg-primary-800", $primary-color-800);
@include bg-color-variant(".bg-primary-700", $primary-color-700);
@include bg-color-variant(".bg-primary-600", $primary-color-600);
@include bg-color-variant(".bg-primary-500", $primary-color-500);
@include bg-color-variant(".bg-primary-400", $primary-color-400);
@include bg-color-variant(".bg-primary-300", $primary-color-300);
@include bg-color-variant(".bg-primary-200", $primary-color-200);
@include bg-color-variant(".bg-primary-100", $primary-color-100);

@include bg-color-variant(".bg-secondary", $secondary-color);
@include bg-color-variant(".bg-secondary-900", $secondary-color-900);
@include bg-color-variant(".bg-secondary-800", $secondary-color-800);
@include bg-color-variant(".bg-secondary-700", $secondary-color-700);
@include bg-color-variant(".bg-secondary-600", $secondary-color-600);
@include bg-color-variant(".bg-secondary-500", $secondary-color-500);
@include bg-color-variant(".bg-secondary-400", $secondary-color-400);
@include bg-color-variant(".bg-secondary-300", $secondary-color-300);
@include bg-color-variant(".bg-secondary-200", $secondary-color-200);
@include bg-color-variant(".bg-secondary-100", $secondary-color-100);

@include bg-color-variant(".bg-gray", $gray-color);
@include bg-color-variant(".bg-gray-900", $gray-color-900);
@include bg-color-variant(".bg-gray-800", $gray-color-800);
@include bg-color-variant(".bg-gray-700", $gray-color-700);
@include bg-color-variant(".bg-gray-600", $gray-color-600);
@include bg-color-variant(".bg-gray-500", $gray-color-500);
@include bg-color-variant(".bg-gray-400", $gray-color-400);
@include bg-color-variant(".bg-gray-300", $gray-color-300);
@include bg-color-variant(".bg-gray-200", $gray-color-200);
@include bg-color-variant(".bg-gray-100", $gray-color-100);

@include bg-color-variant(".bg-dark", $dark-color);


@include bg-color-variant(".bg-success", $success-color);

@include bg-color-variant(".bg-warning", $warning-color);

@include bg-color-variant(".bg-error", $error-color);
